.DS_Store
*.log
*.datatable
*.dat
*.gz
!support/vendor-xwalk.dat
!support/barcode-xlate.datatable.gpg
!support/barcode-xlate.csv.gz.asc
*.csv
*.xz
*.bz2
logs/*
!logs/*.lisp
notes
*.o
*.a
*.so
step-1-clean-raw-logs-2023
gmon.out
callgrind.out.*
